<% if current_user && !current_user.can_vote_for?(@poll.id) %>
  <div class="modal fade" id="voteModal" tabindex="-1" aria-labelledby="voteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="voteModalLabel"><%= t('polls.vote_modal.title') %></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= t('polls.vote_modal.body') %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%= t('polls.vote_modal.close_button') %></button>
        </div>
      </div>
    </div>
  </div>
<% end %>
