<div class="choice-field new-choice">
  <%= f.label :content, "Choice" %>
  <%= f.text_field :content, placeholder: "Enter a choice here", class: "choice-input" %>
  <%= link_to 'Remove', '#', class: 'remove_fields' %>
</div>