<div class="choice-field mb-3 new-choice">
  <div class="input-group">
    <%= f.text_field :content, placeholder: "Enter a choice here", class: "form-control form-control-sm" %>
    
    <div class="input-group-append">
      <%= link_to 'Remove', '#', class: 'btn btn-danger ms-2 remove_fields' %> 
    </div>
  </div>
</div>
