<%= content_for :title, "Poll Chart" %>

<div class="container mt-4">
  <%= render 'shared/breadcrumb', home_link: 'Home', current_link: 'Chart' %>

  <h3 class="text-center mb-4" style="font-family: 'Roboto', sans-serif; color: #333; font-size: 2rem;">
    <%= @poll.title %> - Chart
  </h3>

  <div class="card shadow-lg rounded p-4" style="background-color: #f9f9f9;">
    <%= column_chart @chart_data, 
        library: {
          backgroundColor: "#f4f7fc",
          hAxis: {
            titleTextStyle: {
              color: "#888",
              fontSize: 12
            },
          },
          vAxis: {
            gridlines: {
              color: "#ddd"
            },
            minValue: 0,  
          },
          bar: {
            groupWidth: "20%" 
          },
          colors: [
            "#6C63FF", 
          ] 
        }
    %>
  </div>
</div>
